.space{
  width: 700px;
}
#search{
  width:250px
}
#searchbtn{
  margin-right: 20px;
}
.row{
  margin-top: 50px;
  margin-right:210px;
  margin-left:210px;
}

.header{
  background-color: rgb(43, 116, 224);
  color: white;
}

