{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  User has been removed.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="row">
  <div class="col-6">
    <h1>Users</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ add user</a>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody> </tbody>
</table>
 <script type="text/javascript">
$("document").ready(function(){    
      //read all data 
      list_data();
     
//Search
      $('#searchbtn').click(function(){
        var search = $("#search").val();
        if(search != '')
        {
          load_data_search(search);
        }
        else
        {
          load_data_search();
        }
      })  

//click delete btn
      $(document).on('click','#deletebtn',function(){
        var id = $(this).attr('name')
        // var link = 'http://localhost:5000/:'+id;
        // alert(link)
        $.ajax({
          url:'http://localhost:5000/api/'+id,
          type:"GET",
          contentType:"application/json",
          dataType:"json",
          data:{'id':id},
          success:function(res){
              if(res.msg=="success"){
               
                list_data();
              }
              else{
                alert("cannot delete because have some err");
              }
          }
        })
      })

//click view information

      $(document).on('click','#viewbtn',function(){
        var id = $(this).attr('name')
        localStorage.setItem('id',id);
      })

      $(document).on('click','#editbtn',function(){
        var id = $(this).attr('name')
        localStorage.setItem('id',id);
      })

   
        

//function read all data from database
    function list_data(){
          var data = {};        
        $.ajax({
          url: 'http://localhost:5000/api',     
          type: 'GET',
          contentType: 'application/json', 
          data: JSON.stringify(data),
          success: function(res) {
            if(res.msg=='success'){
                  $('.row_data').remove()
                  var temp = "" 
                $.each(res.rows,function(index,data){
                  temp +="<tr class='row_data'>"
                  temp +="<th scope='row' >"+ data.id +"</td>"
                  temp +="<td>"+ data.first_name +"</td>"
                  temp +="<td>"+ data.last_name +"</td>"
                  temp +="<td>"+ data.email +"</td>"
                  temp +="<td>"+ data.phone +"</td>"
                  temp +=" <td class='text-end'>"
                  temp += "<a href='/viewuser' type='button' id='viewbtn' name='"+data.id+"' class='btn btn-lightbtn-small'><i class='bi bi-eye' ></i> View</a>"
                  temp += "<a href='/edituser' type='button' id='editbtn' name='"+data.id+"' class='btn btn-lightbtn-small'><i class='bi bi-eye' ></i> Edit</a>"
                  temp += "<a type='button' id='deletebtn' name='"+data.id+"' class='btn btn-lightbtn-small'><i class='bi bi-eye'></i> Delete</a>"
                  temp +="</td><tr>"
                })
          
                $("tbody").append(temp);
            //end success
            }
            else{
              alert("some problem")
            }
          }
        }); //end ajax
      }//end function
      //new for search
      function load_data_search(search){     
      // $("tbody").remove()   
      $.ajax({
        url: 'http://localhost:5000/api',     
        type: 'POST',
        data:{'search':search},
        success: function(res){
          // console.log('success');
          // console.log(JSON.stringify(res.rows));
          $('.row_data').remove()
          var temp = "";
          $.each(res.rows,function(index,data){
            temp +="<tr class='row_data'>"
            temp +="<th scope='row'>"+ data.id +"</td>"
            temp +="<td>"+ data.first_name +"</td>"
            temp +="<td>"+ data.last_name +"</td>"
            temp +="<td>"+ data.email +"</td>"
            temp +="<td>"+ data.phone +"</td>"
            temp +=" <td class='text-end'>"
            temp += "<a href='/viewuser' type='button' id='viewbtn' name='"+data.id+"' class='btn btn-lightbtn-small'><i class='bi bi-eye' ></i> View</a>"
            temp += "<a href='/edituser' type='button' id='editbtn' name='"+data.id+"' class='btn btn-lightbtn-small'><i class='bi bi-eye' ></i> Edit</a>"
            temp += "<a type='button' id='deletebtn' name='"+data.id+"' class='btn btn-lightbtn-small'><i class='bi bi-eye'></i> Delete</a>"
            temp +="</td><tr>"
          })
      
          $("tbody").append(temp);
          temp=""
        } //end success
      }) //end ajax

    }//end function
              


}) // end document
  </script>